/* Staff Line Container */
.staffLineContainer {
    position: relative;
}

/* Note Selector */
.noteSelector {
    height: 15px;
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: visible;
}

/* Note SVG */
.noteSVG {
    position: absolute;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    overflow: visible;
}

.note {
    display: none;
}

/* Hover Note Preview */
.noteSelector:hover .note {
    display: block;
    z-index: 20;
    opacity: 0.5;
}

/* Picked Note */
.activeNote {
    display: block;
}

.noteSelector:hover .activeNote {
    display: block;
    z-index: 20;
    opacity: 0.7;
}

/* Staff Line with a black line */
.linedStaffLine::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    background: black;
}

/* Container left to the note selector line */
.preNoteSelector {
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: 10px;
    justify-content: center;
    line-height: 20px;
    font-size: 15px;

    display: flex;
}

.preNoteSelector p {
    margin: 0;
    text-align: right;
    min-width: 20px;
    color: lightgray;
    user-select: none;
}

/* sharp/flat togglers */
.preNoteSelector p:not(:last-child) {
    cursor: pointer;
}

/* Note Name */
.preNoteSelector p:last-child {
    width: 40px;
    color: black;
}

/* active pre note text (e.g.) active sharp/flat */
.preNoteSelector p.active {
    color: black;
}