.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    font-family: serif;
}

.staffContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
}

.clearStaffButton {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    background-color: #ffefef;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    gap: 10px;
    color: #c81e2c;
}
.clearStaffButton :first-child {
    font-size: 1rem;
}

.clearStaffButton:hover {
    background-color: #ffbebe;
}

.clearStaffButton:active {
    background-color: #ff8a8a;
}